.DS_Store
.idea/
*.iml
*.log

**/package-lock.json

build/
release/
lib/
node_modules/
.nyc_output/
coverage/
out/

**/packs/**/*.*

**/src/**/*.d.ts
**/src/**/*.js
**/src/**/*.map

**/tests/**/*.d.ts
**/tests/**/*.js
**/tests/**/*.map

.yarn/
.yarnrc
